.product-price-conteiner{
  display: flex;
}

.product-price-conteiner span{
  color: #9E9E9E;
  font-size: 18px;
  margin-top: 4px;
}

.product-price-conteiner h3{
  font-size: 32px;
  color: #407BFF;
  margin-left: 10px;
}